{% load thumbnail %}
{% for image in images %}
<div class="image border border-secondary">
    <br>
    <a href="{{ image.get_absolute_url }}">
        {% thumbnail image.image "400x500" crop="100%" as im %}
        <a href="{{ image.get_absolute_url }}">
            <img src="{{ im.url }}">
        </a>
        {% endthumbnail %}
    </a>
    <div class="info">
        <a href="{{ image.get_absolute_url }}" class="h5">
            {{ image.title }}
        </a>
    </div>
</div>
<br>
<br>
{% endfor %}